/*公*/
.mg-t-10{
	margin-top: 10px;
}
.mg-t-2{
	margin-top: 2px;
}
.mg-t-5{
	margin-top: 5px;
}
.margin-t-30{
	margin-top: 30px;
}
.mg-l-5{
	margin-left: 5px;
}
.mg-l-10{
	margin-left: 10px;
}
.mg-l-35{
	margin-left: 35px;
}
}
.fz-12{
	font-size: 12px !important;
}
.fz-14{
	font-size: 14px !important;
}
.fz-18{
	font-size: 18px !important;

}
.tx-center{
	text-align:center;
}

.aui-list.aui-list-in .aui-list-item{
	background-image:none !important;
	border-bottom: 1px solid #eee !important;
}
.box-warp{
	height: 100%;overflow: auto;
}
.padding-t-10{
	padding-top:10px;
}
.hg-100{
	height: 100%;
}
.ps-r{
	position: relative;
}
.color-green{
	color:#ff9900;
}
/*头部*/
.normal-head-box{
	text-align: center;
	padding-bottom: 10px;
	background-color:#fff;

	width: 100%;
	position:fixed;
	z-index: 101;
	top:1px;

}
.normal-bk-img{
	width: 18px;
	height: 18px;
	position: absolute;
	left:20px;
	margin-top: 2px;
}
.normal-xx-img{
	width: 18px;
	height: 18px;
	position: absolute;
	left:70px;
	margin-top: 2px;
}

.normal-r-img{
	width: 18px;
	height: 18px;
	position: absolute;
	right: 20px;
	/*margin-top: 1px;*/
}
.normal-head-title{
	font-size: 17px;
}

/*省略号*/
.ellipsis-1 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: normal !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
}
.ellipsis-2 {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: normal !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
}

/*缩略*/
.scal-8{
	-webkit-transform:scale(0.8) !important;
}
.scal-9{
	-webkit-transform:scale(0.9) !important;
}

/*超级会员*/
.hy-img{
	width:70px;
	height: 18px;
}

.take-ok-btn{
	width: 250px;
	border-radius: 25px;
	background-color: red;
	color:#fff;
	text-align: center;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	margin:20px auto;
}

/*列表*/
.aui-list,.aui-list-item{
	background-image: none !important;
}
.aui-list-item{
	border-bottom: 1px solid #eee !important;
}

.overlay {
    background-color:rgba(0,0,0,0.5);
    opacity: 0.5;  /* 透明度 */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 50; /* 此处的图层要大于页面 */
    display: none;
}

.aui-dialog-btn:nth-child(1) {
    background-color: #eee !important;
    color:#e65d42 !important;
}


.aui-dialog-btn:nth-child(2) {
    background-color: #e65d42 !important;
    color:#fff !important;
}

/*  列表选项 */
.good_main_kj
{
	width: 99%;
 
	background-color: #eee;
	overflow:hidden;
	padding-left: 0.8%;
}

.good_row_item{
	width: 48%;
	height: 320px;
 	float: left;
	background-color: #fff;
	margin-top: 5px;
	border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}
.good_row_item2{
	width: 48%;
	height: 275px;
 	float: left;
	background-color: #fff;
	margin-top: 5px;
	border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}
/*第二列 */
.good_row_item:nth-child(2n+2){
	margin-left: 1%;;

}
/*第一列 */
.good_row_item:nth-child(2n+1){
	margin-left: 1%;;

}

.good_item_img img{
	width: 100% !important;
	height: 170px !important;
	border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}
.good_item-name-box{
	padding: 2px;
	text-align: left;
height:42px !important;
}

.good_item-name{
	background-image:url(../image/frame0/tianmao.png);
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  font-size: 13px;
  color: #2c2c2c;
  display: inline-block !important;
  padding-left: 19px;
  margin-top: 3px;
  text-align: left;

}

.good_item-name2{
	background-image:url(../image/frame0/taobao.png);
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  font-size: 13px;
  color: #2c2c2c;
  display: inline-block !important;
  padding-left: 19px;
  margin-top: 3px;
  text-align: left;
}

.good_item-name3{
	background-image:url(../image/frame0/jd.jpg);
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  font-size: 13px;
  color: #2c2c2c;
  display: inline-block !important;
  padding-left: 19px;
  margin-top: 3px;
  text-align: left;
}

.good_item-name4{
	background-image:url(../image/frame0/pdd.png);
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  font-size: 13px;
  color: #2c2c2c;
  display: inline-block !important;
  padding-left: 19px;
  margin-top: 3px;
  text-align: left;
}
/* 2行省略 */
  .my_sv{
    width: 90%;
    height:35px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    word-break:break-all;
  }

.good_item_price{
	width: 95%;
	padding: 3px;
		overflow:hidden;
}
.good_item_price_old{
	font-size: 10px;
	float: left;
color: #828282;
margin-left: 5px;
}
.good_item_price_sell{
	font-size: 10px;
	float: right;
	color: #828282;
}


.good_item_price2{
	width: 95%;
	padding: 3px;
	overflow:hidden;
}

.good_item_price_new{
	font-size: 18px;
	font-weight: bold;
	color: red;
	float: left;
	margin-left: 5px;
}

.good_item_price_coupon{
	font-size: 13px;
	float: right;
	background: linear-gradient(to right,#de9491,#db6a66);
	color: #fff;
	width: 70px;
	text-align: center;
	border-radius: 5px;
	margin-top: 1px;
}

.good_item_zhuan{
	background-color: #F5F5F5;
	height: 40px;
	width: 95%;
	border-radius: 3px;
	margin-left: 2.5%;
	padding-top: 5px;
}

.good_item_zhuan .sr{
	float:left;
	height:29px;
	font-size: 12px;
	font-weight: bold;
	width: 30%;

	text-align: center;
	padding: 0;
	color: red;

}

.good_item_zhuan .upz{
	float:right;
	height:29px;
	font-size: 12px;
	font-weight: bold;
	width: 30%;

	text-align: center;
	padding: 0;
	color#000;

}



.databootom{
   width: 100%;
   height: 30px;
   line-height:30px;
   text-align: center;
   background-color: #fff;
   margin-top: 5px;
   display:none
}

.l_show{
    display:block
}
.l_hide{
    display:none
}

.videcls{
	position:relative;
	z-index: 1999;
	top: -50px;
}

.videcls img{
 	width: 50px;
	height: 50px;
}
