body{  background-color: #fff;}
.header
{
    width:100%;
    height:36px;
    line-height:36px;
    text-align:center;
    font-weight: bold;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

#sublist2 li{
  float: left;
  width: 33%;
}

    .line
    {
        display:inline-block;
        width:20%;;
        border-top:1px solid #cccccc;
        vertical-align:5px;
    }
  .menu-left, .menu-right {
     top: 5px !important;

  }

  .menu-right{
    margin-top: 5px !important;
  }

  img{
    width: 60px !important;height: 60px !important;
  }

  li>span{
    font-size: 12px !important;
  }

  .topdiv{
      width: 100%;
      height: 200px;
      background-color: #fff;
      position: fixed;
      z-index: 100;
      top:0px;
      left: -1px;!important;
      background-image:url(../image/banner/login_bg_banner.png);
      background-repeat:no-repeat;
      background-size:100% 100%;
      background-attachment: fixed;
  }
  .toptitle{
     text-align: center;
     font-weight: bold;
     color: #fff;
     font-size: 16px;
     margin-top: 40px;
  }
  .topcontent{
      width: 90%;
      height: 200px;
      margin-top: 10px;
      position: absolute;
      z-index: 101;
      background-color: #fff;
      border-radius: 10px;
      margin-left: 5%;
      border: 1px solid #eee;
      padding: 5px

  }
  .topcontent ul{

  }
  .topcontent ul li img{
      width: 10px;

  }
  .bandlist ul li{
        padding-left: 4px;
      float: left;
      width: 31%;
      height: 95px;
      text-align: center;


  }
  .bandlist ul{
    border: 1px solid 	#FFE4C4;
    border-radius: 10px;
    padding-top: 4px;
    width: 99%;
  }

  .topcontent ul li{
      float: left;
      width: 24%;
      height: 95px;

      text-align: center;
  }
  .scal-img img{
    -webkit-transform:scale(0.9);
     border-radius:50%;

  }
  .scal-span{
      font-size: 10px;
      color:		#B5B5B5;
      margin-top:-2px;
  }
  .scal-span-title{
    font-size: 13px;
    color: #4F4F4F;
    margin-top:-7px;
  }
