body {  background-color: #eee}
.oneline{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.head{
	width: 100%;
	margin: 0 auto;
	background:red;
	-webkit-transition:0.2s;
	transition: 0.2s;

	margin-bottom: 0.6rem;

}
.head.default{
	background: #eb8989!important;
	-webkit-transition: 1s;
	transition: 1s;
}
.head.default .jd_nav_fix{
	background: #eb8989;
	-webkit-transition: 1s;
	transition: 1s;
}
.head-search-wrap{
	height: 1rem;
	padding: 1rem 0;
}
.head-search{
	height: 1.8rem;
	position: relative;
}
.head-search .input-wrap{
	width: 14.7rem;
	height: 1.8rem;
	border-radius: 1.8rem;
	background:#FFFFFF;
	position: relative;
	overflow: hidden;
	margin-left: 1.16rem;
}
.head-search .head-info{
	position: absolute;
	width: 2.7rem;
	height: 1.8rem;
	text-align: center;
	line-height: 1.8rem;
	top: 0;
	right: 0;
	color: #fff;
}
.head-search .head-info i{
	font-size: 1.2rem;
}
.head-search .input-wrap .input-icon{
	position: absolute;
	width: 2.7rem;
	height: 1.8rem;
	text-align: center;
	line-height: 1.8rem;
	color: #999;
}
.head-search .input-wrap .input-search{
	height: 1.8rem;
	font-size: 0.7rem;
	width: 100%;
	display: block;
	border: none;
	outline: none;
	color: #999;
	text-indent: 2.7rem;
}
.head-swiper{
	height: 7.5rem;
	position: relative;
	padding-top: 0.5rem;
}
.head-swiper .swiper-pagination{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0.25rem!important;
}
.head-swiper .swiper-pagination span{
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #fff;
	margin: 0 0.4rem;
	border-radius: 50%;
}
.head-swiper .swiper-pagination span.swiper-pagination-bullet-active{
	background:#bcab6f;
}
.head-swiper .slide{
	width: 100%;
	height: 7.5rem;
}
.head-swiper .swiper-item-img{
	width: 17.5rem;
	height: 7.5rem;
	margin: 0 auto;
	display: block;
	border-radius: 10px;

}
.head-swiper .swiper-bg{
	position: absolute;
	bottom: -12rem;
	left: -2.625rem;
	width: 24rem;
	height: 15rem;
	background: #fff;
	border-radius: 10rem;
}
.reserveType{
  width: 18.75rem;
  font-size: 0;
  padding: 1rem 1rem 0.85rem 0;
	background-color: #fff;
	height: 170px;

}
.reserveType .reserve_list_img{
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.reserveType .reserve_list_name{
  font-size: 0.6rem;
  color: #666666;
  letter-spacing: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  padding-top: 0.25rem;
  text-align: center;
}
.reserveType .reserve_list{
  display: inline-block;
  width: 2.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.05rem;
}
.reserveType .reserve_list:nth-child(5n+1) {
  margin-left: 1rem;
}
.reserveType .reserve_list:nth-child(n+5){
	margin-bottom: 0;
}
.reserveType .swiper-pagination{
	margin-top: 0.625rem;
}
.reserveType .swiper-pagination span.swiper-pagination-bullet{
	width: 0.95rem;
	height: 0.1rem;
	margin: 0 0.45rem;
	background: #d4d4d4;

}
.reserveType .swiper-pagination span.swiper-pagination-bullet-active{
	background: #b4a693;
}
.discount{
	margin-top:0.5rem;
}
.discount,.discount img{
	width: 18.75rem;
  	font-size: 0;
}
.fashion{
	margin: 0.5rem auto 0;
 width: 95%;
 background-color: #fff;
 border-radius: 10px;

}
.fashion .fashion-main,.fashion .fashion-inner{
	width: 17.25rem;
	margin: 0 auto;
	font-size: 0;
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	padding-top: 6px;
}
.fashion .fashion-item{
	display: inline-block;
	width: 8.5rem;
	height: 3.25rem;
	background-size: 100% 100%!important;
	margin-bottom: 0.4rem;
	color: #fff;
	border-radius: 0.25rem;
	position: relative;
	overflow: hidden;
}

.fashion .fashion-inner .fashion-item{
	width: 4.125rem;
	height: 7rem;
}
.fashion .fashion-item:nth-child(n+3){
	margin-left: 0;
}
.fashion .fashion-main{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;



}
.fashion .fashion-inner{
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	margin-top: 0;
}
.fashion .fashion-main .fashion-item-img{
	position: absolute;
	top: 0;
	right: 0;
	width: 4.125rem;
	height: 3.25rem;
}
.fashion .fashion-inner .fashion-item-img{
	width: 100%;
	margin-top: 0.4rem;
}
.fashion .fashion-inner .fashion-item{
	margin-left: 0.25rem;
	margin-bottom: 0;
	margin-top: 1px;
}
.fashion .fashion-main .fashion-item:nth-child(n) .fashion-btn{
	color: #fa6f84;
}
.fashion .fashion-main .fashion-item:nth-child(n+3) .fashion-btn{
	color: #41b0e5;
}
.fashion .fashion-inner .fashion-item:nth-child(4n+1){
	margin-left: 0;
}
.fashion .fashion-title{
	font-size: 0.7rem;
}
.fashion .fashion-intro{
	font-size: 0.6rem;
	height: 0.8rem;
	line-height: 0.8rem;
}
.fashion .fashion-btn{
	width: 60px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	background: #fcfeff;
	border-radius: 0.75rem;
	text-align: center;
}
.fashion .fashion-main .fashion-title{
	margin-top: 0.25rem;

}
.fashion .fashion-main .fashion-item-wrap{
	width: 3.6rem;
	margin-left: 0.45rem;
}
.fashion .fashion-inner .fashion-item-wrap{
	margin: 0.25rem 0.2rem 0;
	text-align: center;
}

/*情报局*/
.jd_goods{
	margin-top: 0.2rem;
	background: #fff;
	padding-bottom: 0.1rem;

	width: 95%;
	margin-left: 2.5%;
	border-radius: 5px;
}
.jd_goods_title{
	width: 16.25rem;
  	margin: 0 auto;
  	display: flex;
  	display: -webkit-flex;
  	-webkit-justify-content: space-between;
  	justify-content: space-between;
  	height: 2rem;
  	line-height: 2rem;
  	padding-top: 0.4rem;

}
.jd_goods_title .jd_goods_title_text{
	font-size: 16px;
	font-weight: bold;
	color: #8d5820;
}
.jd_goods_title .jd_goods_title_more{
	font-size: 0.7rem;
	color: #999;
}
.jd_goods_title .jd_goods_title_more i{
	margin-left: 0.25rem;
	vertical-align: middle;
}
.jd_goods_wrap {
  width: 17.25rem;
  margin: 0 auto;
}
.jd_goods_wrap .jd_goods_item {
  width: 17.25rem;
  height: 7.25rem;
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 0 0.1rem #f8f8f8;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.jd_goods_wrap .jd_goods_spr {
  width: 3rem;
  height: 0.75rem;
  text-align: center;
  line-height: 0.75rem;
  font-size: 0.5rem;
  color: #FFFFFF;
  background: #c9161c;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}
.jd_goods_wrap .jd_goods_img {
  width: 6.5rem;
  height: 6.5rem;
  padding: 0.375rem;
  display: inline-block;
  vertical-align: top;
}
.jd_goods_wrap .jd_goods_info {
  display: inline-block;
  vertical-align: top;
  width: 9rem;
}
.jd_goods_wrap .jd_goods_name {
  font-size: 0.7rem;
  color: #333333;
  height: 2.1rem;
  line-height: 1.1rem;
  margin-top: 0.6rem;
}
.jd_goods_wrap .jd_goods_icon {
  margin-top: 0.3rem;
  height: 2.55rem;
  overflow: hidden;
  font-size: 0.6rem;
  color: #dc5972;
}

.jd_goods_wrap .jd_goods_address{
  font-size: 0.6rem;
  color: #9e9e9e;
  letter-spacing: 0;
  line-height: 1.25rem;
  width: 5.25rem;
}
/*导航*/
.head-nav {
  width: 100%;
  height: 2.25rem;
  margin: 0 auto;

}
.head-nav .jd_nav_w, .jd_goods .jd_nav_fix {
  width: 100%;
  white-space: nowrap;
  height: 5.25rem;
}
.head-nav .jd_nav_fix {
  position: relative;
}
.head-nav .jd_nav_fix.nav_fix {
  z-index: 88;
  position: fixed;
  top: 0;
  left: 0;
}
.jd_nav_auto{
	width: 16.2rem;
	overflow: hidden;
	margin-right: 2.55rem;
}
.head-nav .jd_nav {
  width: 100%;
  height: 2.25rem;
  padding-right: 2rem;
  /*background: #fff;*/
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.head-nav .jd_nav span {
  display: inline-block;
  width: auto;
  vertical-align: top;
  font-size: 0.7rem;
  line-height: 1.7rem;
  color: #fff;
  margin: 0 0.6rem;
  position: relative;
}
/*.head-nav .jd_nav span:last-child {
  margin-right: 2.75rem;
}*/
.head-nav .jd_nav span:nth-child(1) {
  margin-left: 0.75rem;
}
.head-nav .jd_nav span.on {
  color: #fff;
		font-size: 17px;
		font-weight: bold;
}
.head-nav .jd_nav span.on:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background: #fff;
  bottom: 0px;
  left: 0;
}
.head-nav .jd_drop {
  position: absolute;
  width: 2.5rem;
  height: 1.7rem;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 1.7rem;

  /*background: #fff;*/
}
.head-nav .jd_drop i {
  color: #fff;
}
.jd_goods_wrap {
  width: 17.25rem;
  margin: 0 auto;
}
.jd_goods_wrap .jd_goods_item {
  width: 17.25rem;
  height: 6.75rem;
  position: relative;
  display: block;
  margin-top: 0.5rem;
  box-shadow: 0 0 0 0.1rem #f8f8f8;
  background: #fff;
}
.jd_goods_wrap .jd_goods_num {
  width: 0.85rem;
  height: 1.05rem;
  text-align: center;
  line-height: 0.95rem;
  font-size: 0.5rem;
  color: #FFFFFF;
  background: url(../images/jd_goods_num.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}
.jd_goods_wrap .jd_goods_img {
  width: 5.25rem;
  height: 5.25rem;
  padding: 0.75rem;
  display: inline-block;
  vertical-align: top;
}
.jd_goods_wrap .jd_goods_info {
  display: inline-block;
  vertical-align: top;
  width: 10rem;
}
.jd_goods_wrap .jd_goods_name {
  font-size: 0.7rem;
  color: #333333;
  height: 2.1rem;
  line-height: 1.1rem;
  margin-top: 0.6rem;
}
.jd_goods_wrap .jd_goods_icon {
  margin-top: 0.3rem;
  height: 2.05rem;
  overflow: hidden;
}
.jd_goods_wrap .jd_goods_icon span {
  display: inline-block;
  padding: 0 0.25rem 0 0.25rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: #999999;
  background: #f8f8f8;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.jd_goods_wrap .jd_goods_price {
  font-size: 0.6rem;
  color: #E93B3D;
  letter-spacing: 0;
  line-height: 1.25rem;
  width: 5.25rem;
}
.jd_goods_wrap .jd_goods_price span {
  font-size: 0.9rem;
}



#cover{   position:fixed;
	 width:100%;
	 height:100%;
	 left:0;
	 top:0;
	  z-index:99;
background: rgba(0, 0, 0, 0.5);
display: none;
  }


.shang_ico{
	-webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


/*热点头条信息*/
.goodsHot{
	margin-top: 0.5rem;
	background: #fff;

	width: 95%;
	margin-left: 2.5%;
	border-radius: 10px;

}
.goodsHot_title{
	width: 17.25rem;
  	margin: 0 auto;
  	display: flex;
  	display: -webkit-flex;
  	-webkit-justify-content: space-between;
  	justify-content: space-between;
  	height: 2rem;
  	line-height: 2rem;
		border-bottom: 1px solid #eee;
  	padding-top: 0.4rem;

}
.goodsHot_title .scroll{
	width: 12.5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	margin-top: 0.55rem;


}
.goodsHot_title .scroll .swiper-wrapper{
	display: block;
	-webkit-flex-direction: column;
	flex-direction: column;
	height: 0.8rem;
	background-color: #fff
}
.goodsHot_title .scroll .swiper-slide{
	width:12.5rem;
	font-size: 0.6rem;
	color: #333;
	height: 0.8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.goodsHot_title .scroll .swiper-slide span{
	display: inline-block;
	padding:0 0.2rem;
	background: #ffe9ea;
	color: #cd7a58;
	height: 0.8rem;

	position: relative;
	top: -1px;
}
.goodsHot_title .goodsHot_title_text{

	color: #333;
	width: 4.1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right: 0.2rem;
  text-align: center;

}

.goodsHot_main {
	width: 17.25rem;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.goodsHot_main .goodsHot_item{
	width: 50%;
	background: #fff;
	padding: 0.3rem 0.1rem 0.3rem 0.3rem;
	box-sizing: border-box;
	position: relative;
 
}
.goodsHot_main .goodsHot_item:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: #f0f0f0;
	bottom: 0;
	left: 0;
	-webkit-transform: scaleY(0.6);
	transform: scaleY(0.6);

}
.goodsHot_main .goodsHot_item:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	background: #eee;
	left: 0;
	top: 0;
	-webkit-transform: scaleX(0.6);
	transform: scaleX(0.6);
}
.goodsHot_main .goodsHot_item:nth-child(n+3){
	margin-bottom: 0;
}
.goodsHot_main .goodsHot_item:nth-child(2n+1):before{
	display: none;
}

.goodsHot_item_top{
	font-size: 0.7rem;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.goodsHot_item_top .goodsHot_icon_dy{
	width: 0.70rem;
	height: 0.45rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.2rem;
}

.goodsHot_item_top .goodsHot_icon{
	width: 0.75rem;
	height: 0.75rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.2rem;
}
.goodsHot_item .goodsHot_item_btm{
	position: relative;
}

.goodsHot_item_left_dy{
	width: 3.85rem;
	float: left;

}.goodsHot_item_left_dy .goodsHot_item_img{
	width: 3.6rem;
	height: 3.6rem;
}

.goodsHot_item_left_zb{
	width: 3.85rem;
	float: left;
	border-left: 1px solid #eee;
}.goodsHot_item_left_zb .goodsHot_item_img{
	width: 4.3rem;
	height: 4.6rem;
}


.goodsHot_item_left_hb{
	width: 3.85rem;
	float: left;
	border: 1px solid #eee;

}

.goodsHot_item_left_hb .goodsHot_item_img{
	width: 3.6rem;
	height: 3.6rem;
}

.goodsHot_text_dy{
	padding-left: 9px;
  background-color:rgba(0,0,0,.5);
	width: 63px;
	height: 16px;
	line-height: 15px;
	border-radius: 20px;
	margin-bottom: 5px;
}
.goodsHot_text_dy span{
	color: #fff;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 7px;
}

.goodsHot_text_dy1{
	padding-left: 2px;
  background-color:red;
	width: 71px;
	height: 16px;
	line-height: 15px;
	border-radius: 20px;
	margin-bottom: 5px;
}

.goodsHot_text_dy1 span{
	color: #fff;
	font-size: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 1px;
}


.dy_video{
	position: absolute;
	z-index: 999px;
	top: 30px;
	left: 21px;
}
.dy_video2{
	position: absolute;
	z-index: 1000px;
 	top: 30px;
	left: 95px;
}

/* 线报 */
.scrollbox{ width: 140px; margin: 0 auto; overflow: hidden; }
#scrollDiv{width:340px;height:90px; overflow:hidden;}/*这里的高度和超出隐藏是必须的*/
#scrollDiv li{height:30px; width:300px;vertical-align:bottom; zoom:1;font-size: 12px;}
.go-bye-left{
	background-color: #d9534f;
	padding:3px 8px 3px 8px;
	border-radius: 25px;
	position: absolute;
	/*display: inline-block;*/
	left:0;
	z-index: 999;
}
.go-bye-right{
	background-color:#9C9C9C;
	padding:3px 15px 3px 8px;
	border-radius: 25px;
	position: absolute;

	padding-left:25px;
}
.go-bye-box{
	/*display: inline-block;*/
	color:#fff;
	-webkit-transform:scale(0.9);
	position: relative;
	/*width: 155px;*/
	height: 30px;
	left:-14px;
}


.goodsHot_item_left{
	width: 3.85rem;
}
.goodsHot_item_left .goodsHot_text{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.goodsHot_item_left .goodsHot_item_img{
	width: 3.25rem;
	height: 3.25rem;
}
.goodsHot_item_right{
	position: absolute;
	bottom: 0;
	right: 0.25rem;
	width: 4rem;
	height: 4rem;
}
.goodsHot_item_right .goodsHot_item_img{
	width: 4rem;
	height: 4rem;
}
.qbimg{
	width: 110px;
	height: 70px;
	border-radius: 10px;
}


.tab_nav{
	width: 99%;
	height: 50px;
	font-size: 14px;
	text-align: center;
	margin-bottom: 1px;
}
.tab_nav ul{
 	width: 100%;
	margin-left:2%;
	margin-top: 10px;
}

.tab_nav li{
	border-right: 1px solid #CFCFCF;
	float: left;
	width: 19%;
	height: 30px;
	font-size: 13px;
}
.miaoshu{

	font-size: 11px;
	color: #828282;
	width: 87%;
	text-align: center;
	margin-left: 2px;
}
.sel{
	background-color: red;
	border-radius: 50px;
	color: #fff;
}

.titlekk{
	float: left;
}
