.main-head{
	height: 230px;
	background-image: url('../image/banner/mine_bg.png');
	background-repeat: no-repeat;
	background-size:100% 250px;
	position: relative;
	min-width: 320px;
	position: relative;
}

.bk-img{
	width: 15px;
	height: 15px;
	position: absolute;
	left:10px;
	top:2px;
}
.wen-img{
	width: 15px;
	height: 15px;
	position: absolute;
	right: 15px;
	top:5px;
}

.title-head-box{
	position: relative;
	top:20px;
}

.head-title{
	position: absolute;
	left:50%;
	margin-left: -30px;
	font-size:16px;
	color: #fff;
}

.incom-price-box{
	position: relative;
	top:60px;
	text-align: center;
}

.fz-26{
	font-size: 26px;
}
.fz-28{
	font-size: 28px;
}
.color-w{
	color: #fff;
}

.incom-price-p{
	font-size: 12px;
	position: relative;
	top:60px;
	text-align: center;
	color:#ccc;
}

.my-money{
	font-size: 14px;
	position: relative;
	top:80px;
	text-align: center;
	color:#ccc;
}

.line-incom-box{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	color:#fff;
}

.line-box1{
	background-color: #fff;padding:20px;

	border-radius: 10px;
	width: 95%;
	margin-left: 2.5%;
	z-index: 1;
	margin-top: -35px;
	position: absolute;
	 box-shadow: darkgrey 5px 3px 30px 5px ;
}

/*第二行*/
.line-box{
	background-color: #fff;padding:20px;


}
.incom-title{
	font-size: 14px;
	color:#2c2c2c;
	background-image: url("../image/banner/lhelp.png");
	background-repeat: no-repeat;
	background-size:15px 15px;
	background-position: right 0px;
}
.incom-title-nqe{
	font-size: 14px;
	color:#2c2c2c;
}

.aui-col-xs-4{
	text-align: center;
}

.incom-center{
	padding-right: 5px;
	margin-top: 5px;
}

.income-bottom{
	color:#757575;
	font-size: 12px;

}



/*三行*/
.line-head{
	background-color: #fff;padding:5px;font-size: 14px;
	background-image: url("../image/user/tday.png");
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 45px;
	margin-top: 110px;
}
.line-y-head{
	background-color: #fff;padding:5px;font-size: 14px;
	background-image: url("../image/user/yday.png");
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding-left: 45px;
}
